$grey : #BBBBBB;

nav { 
   padding:20px 50px;
   font-size: 15px;
   font-weight: 500;
}


.heading{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding:0px 50px;
  color: #ffffff;
  background-color: #010129;
}

.textFieldContainer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.textFieldWrapper {
  padding: 20px 16px;
}


.currencyWrapper{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
}

.currency {
  margin-left: 5px;
  font-weight: bold;
  font-size: 50px;
  border: none;
  color: #0D2D11;
  opacity: 0.12;
  display: flex;
  align-items: center;
  justify-content: center;
  caret-color:#3054D6;
  &.active{
    opacity: 1;
    color: #000;
  }
  &:focus{
    outline: none;
    
  }
}

  .inputText {
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border: solid 1px #E7EBEEB3;
    border-radius: 4px;
    outline: none;
  }

  .inputText:focus {
    border: solid 2px #3054D6;
    border-radius: 4px;
  }
  .inputLabel {
    position: absolute;    
    top:30px;
    left: 30px;
    opacity: 0.5;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 14px;
    transition:top 200ms ease-in,left 200ms ease-in, font-size 200ms ease-in;
  }


  .inputText:focus ~label, .inputText:not(:placeholder-shown).inputText:not(:focus) ~label{
    top:2px;
    left: 20px;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #989999b3;
    opacity: 1;
    padding: 0px 5px;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .formContainer {
    padding: 10px 20px;
    max-width: 550px;
    width: 90%;
    margin: 0 auto;
  }

  .formGroup {
    display: grid;
    grid-template-columns: auto auto;
  }


  .submitBtn{
    max-width: 500px;
    height: 52px;
    display: flex;
    margin: 10px auto;
    justify-content: center;
    background-color: #3054D6;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    &.disabled{
      // opacity: 0.3;
      background-color: #EDF0F7;
      color: rgba(48, 84, 214, 0.39);
    }
  }
  

  .inputSelect {
    // width: 200px;
    height: 40px;
    // padding: 20px;
    font-size: 16px;
    .options {
      background-color: #3054D6;
      display: flex;
    }
    
  }

  .selectContainer {
    width: auto;
    background-color: white;
  }


  .errorMessage{
    visibility: hidden;
    margin-top: 8px;
    font-size: 12px;
    height: 20px;
    font-weight: lighter;
    color: red;
    &.error {
      visibility:visible
    }
  }

.detailSection {
  padding: 30px;
  border-bottom: solid 1px $grey ;
  font-weight: 500;
}
  .detailSectionHeader {
    display: flex;
    justify-content: space-between;
    .title {
      color: $grey;
      font-weight: 500;
      font-size: 12px;
    }
  }


  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }




  input[type=checkbox] {
    background-color: blue;
    color: blue;
    &checked {
      background-color: blue;
    }
  }








  .bidSection {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 30px 0px;
  }
  .justify-contnent-center {
    justify-content: center;
  }

  .checkBox {
    display: flex;
    align-items: center;
    margin-top: 30px;
    input[type=checkbox] {
      width: 18px;
      height: 18px;
    }
    label {
      margin-left: 6px;
    }
  }